<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maven01.dao.IEmployeeDao">
    <select id="getAll" resultType="com.maven01.pojo.Employee">
            select  
            *
			from 
			employees
			limit 1,10 
  </select>
    
</mapper>